@import "../../../assets/variables.scss";

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  background-color: $color-light-grey;
  height: 100%;

  .nav-logo {
    font-weight: bold;
    padding: 8px;
    color: $color-blue;
    font-size: 52px;
    user-select: none;
    align-self: center;
  }

  .nav-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 30px;

    .nav-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 6px;
      width: 100%;
      box-sizing: border-box;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      li {
        padding: 8px;
        display: flex;
        box-sizing: border-box;
        width: fit-content;
        cursor: pointer;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;

        a {
          text-decoration: none;
          color: $color-black;
          align-items: center;
          justify-content: center;

          i {
            font-size: 28px;
            color: $color-blue;
          }

          .nav-icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-color: $color-blue;
            border-radius: 50%;
          }
        }
      }
    }

    .nav-submenu {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 6px;
      width: 100%;
      box-sizing: border-box;
      align-self: flex-start;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      li {
        padding: 8px;
        display: flex;
        box-sizing: border-box;
        width: fit-content;

        &:hover {
          background-color: $color-light-grey;
          border-radius: 4px;
        }

        a {
          text-decoration: none;
          color: $color-black;
          display: grid;
          grid-template-columns: 24px 1fr;
          align-items: center;
          justify-content: center;
          width: fit-content;

          i {
            font-size: 25px;
            color: $color-blue;
          }

          .nav-icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-color: $color-blue;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
