@import '../../../assets/variables.scss';

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
  min-width: 200px;
  border-right: 1px solid $color-light-grey;
  background-color: $color-white;
  height: 100%;

  .nav-logo {
    font-weight: bold;
    padding: 8px;
    color: $color-dark-blue;
    font-size: 32px;
    user-select: none;
    align-self: center;
  }

  .nav-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 30px;

    .nav-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 6px;
      width: 100%;
      box-sizing: border-box;
      align-self: flex-start;

      li {
        padding: 8px;
        display: flex;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;

        &:hover {
          background-color: $color-light-grey;
          border-radius: 4px;
        }

        a {
          text-decoration: none;
          color: $color-black;
          display: grid;
          grid-template-columns: 24px 1fr;
          gap: 8px;
          align-items: center;
          width: 100%;

          i {
            font-size: 20px;
          }

          .nav-icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-color: $color-dark-blue;
            border-radius: 50%;
          }
        }
      }
    }

    .nav-submenu {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 6px;
      width: 100%;
      box-sizing: border-box;

      li {
        padding: 8px;
        display: flex;
        flex-direction: row;
        width: 100%;
        box-sizing: border-box;

        &:hover {
          background-color: $color-light-grey;
          border-radius: 4px;
        }

        a {
          text-decoration: none;
          color: $color-black;
          display: grid;
          grid-template-columns: 24px 1fr;
          gap: 8px;
          align-items: center;
          width: 100%;

          i {
            font-size: 20px;
          }

          .nav-icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
            background-color: $color-dark-blue;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
