@import '../../../assets/variables.scss';

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-light-grey;
    border-radius: 4px;
    padding: 16px;
    width: 400px;
    box-sizing: border-box;
    background-color: $color-white;

    h1 {
      font-size: 24px;
      margin-bottom: 16px;
    }

    .auth-divider {
      margin: 16px 0;
      position: relative;
      width: 100%;
      display: grid;

      i {
        font-size: 24px;
        rotate: -90deg;
        align-self: center;
        justify-self: center;
        z-index: 1;
        background-color: $color-white;
        padding: 8px;
        border-radius: 50%;
        color: $color-blue;
      }

      hr {
        position: absolute;
        top: 29%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        width: 100%;
        border-top: 1px solid $color-light-grey;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input {
        margin-bottom: 8px;
        padding: 8px;
        border: 1px solid $color-light-grey;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        height: 42px;

        &:focus {
          outline: none;
          border-color: $color-blue;
        }
      }

      button {
        padding: 8px 16px;
        background-color: $color-light-blue;
        color: $color-white;
        border: 1px solid $color-blue;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        height: 42px;
        box-sizing: border-box;
      }
    }

    p {
      margin: 8px 0;
    }

    .auth-buttons {
      display: flex;
      gap: 8px;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .auth-button {
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-weight: bold;
        display: grid;
        grid-template-columns: 24px 1fr;
        gap: 16px;
        font-size: 16px;
        height: 42px;
        box-sizing: border-box;

        span {
          align-self: center;
          justify-self: center;
          margin-left: -24px;
        }
      }

      .google {
        background-color: $color-white;
        color: $color-black;
        border-radius: 4px;
        border: 1px solid $color-light-grey;

        i {
          font-size: 24px;
          color: $color-blue;
          align-self: center;
        }
      }

      .facebook {
        background-color: $color-blue;
        color: $color-white;
        border-radius: 4px;
        border: 1px solid $color-blue;

        i {
          font-size: 24px;
          color: $color-white;
        }
      }
    }
  }
}
