@import "../../../assets/variables.scss";

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-light-grey;
  border-radius: 4px;
  padding: 16px;
  width: 400px;
  box-sizing: border-box;
  background-color: $color-white;

  h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin-bottom: 8px;
      padding: 8px;
      border: 1px solid $color-light-grey;
      border-radius: 4px;
      width: 300px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: $color-purple;
      }
    }

    button {
      padding: 8px 16px;
      background-color: $color-purple;
      color: $color-white;
      border: 1px solid $color-purple;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      font-weight: bold;
    }
  }

  p {
    margin: 8px 0;
  }

  .auth-buttons {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;

    .auth-button {
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      font-size: 16px;
    }

    .google {
      background-color: $color-white;
      color: $color-black;
      border-radius: 4px;
      border: 1px solid $color-light-grey;

      i {
        font-size: 24px;
        color: $color-blue;
      }
    }

    .facebook {
      background-color: $color-blue;
      color: $color-white;
      border-radius: 4px;
      border: 1px solid $color-blue;
    }
  }
}
